<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="special-roles/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>This is About Page</title>
</head>
<body>
	<section  class="content" style="margin-left:18%; margin-top: 3% !important;">
	
	<!-- Message Box starts here -->
			<div th:if="${session.message}" class="Container mt-2">
				<div th:classappend="${session.message.type}" class="alert text-center" role="alert">
					<span th:text="${session.message.content}"></span>
				</div>
								
				<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
			</div>

        	<!-- Message Box Ends here -->
        	
        	
        <div class="container">
            <div class="row">
                <div class="col-sm-4" th:each="cat : ${allCategories}">
                	<!-- <a th:href="/stories/category/0"> -->
				    <a th:href="@{'/stories/category/'+${cat.categoryId}}">
				        <div class="card">
				            <div class="img-fluid">
				                <img style="width: 100% !important; height: 200px !important; object-fit: cover !important;" 
				                     class="img-fluid" 
				                     th:src="@{'/images/' + ${cat.catImage}}" 
				                     alt="image" />
				            </div>
				            <h2 style="color:black;" th:value="${cat.categoryId}" th:text="${cat.categoryTitle}"></h2>
				        </div>
				        <br>
				    </a>
				</div>

             <!--  </a>  -->
              
            </div>
         </div>

		<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
		
		<script>
		
		$(document).ready(() => {
            $(".item").removeClass("active");
            $("#category-link").addClass("active");
        });
		
	      tinymce.init({
	        selector: '#mytextarea'
	      });
	    </script>
                
    </section>
</body>
</html>