<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="special-roles/base::layout(~{::section})">

<head>
    <meta charset="ISO-8859-1">
    <title>This is About Page</title>
</head>

<body>
    <section class="content">

        <div class="container">
        	
        	<div class="card profile" style="margin-top:4%;background: whitesmoke;">
        	
        		<div class="card-body">
        		
        		<!-- Message Box -->
							<div th:if="${session.message}" class="Container mt-2">
								<div th:classappend="${session.message.type}" class="alert text-center" role="alert">
									<span th:text="${session.message.content}"></span>
								</div>
								
								 <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
							</div>
        		
        		
        		<form th:action="@{/uploads/edit-profile}" th:object="${user}" enctype="multipart/form-data" method="post" class="mt-2">

								<!-- first field -->
                                <div class="input-group">

                                    <div class="input-group-prepend">

                                        <div class="input-group-text ">
                                            <!-- <i class="fa fa-plus"></i> -->
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </div>

                                    </div>

                                    <input 	th:value="${user.username}"
                                    		type="text" id="username" name="username"
                                        	placeholder="Enter new username here " class="form-control"
                                        	required="required"
                                        >

                                </div>

		
                                <div class=" mb-3 ">
                                    <label for="formFile" style="margin-top: 22px;">Upload New Image</label>
                                    <input class="form-control Button " type="file" id="formFile" name="profileImage"
                                    >
                                </div>
                                
                                
                                <div class="form-group text-center" >
                                  
                                    
                                    <button type="submit" class="btn btn-primary ">Submit</button>
                                 	<button style="margin-left: 25px;"  type="reset" class="btn btn-warning">Reset </button>
                                  
                                </div>
                            </form>
        		
        		
        		
        		</div>
        
        	</div>
        
        </div>
        
        <script>
        
        $(document).ready(() => {
            $(".item").removeClass("active");
            $("#profile-link").addClass("active");
        });
        
        </script>
        
    </section>
</body>

</html>