<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>This is About Us Page</title>
</head>
<body>
	<section class="about-section" style="margin-top:100px;">
	
		 <div class="heading">
	        <h1>About Us</h1>
	
	        <p>In a world bursting with technology, we felt there was a void - a space where the age-old magic of 
	        	storytelling needed a modern twist. Born out of a love for tales that inspire, surprise, and transport, 
	        	Book-Wheel application was crafted to bring stories to your fingertips.
	        </p>
	    </div>
	
	    <div class="container">
	    
	    
	        <section class="about"  style="display: flex;">
	            <div class="about-image">
	                <img src="images/about-image.jpg" alt="image" style="margin-left: 50px;">
	            </div>
	
	            <div class="about-content">
	                <h2>🌟  Our Mission</h2>
	                <p>Our mission is simple: To rekindle the joy of getting lost in a story. We believe in the power of 
	                narratives to shape minds, soothe souls, and spark imaginations. Whether you're snuggled up in bed, 
	                commuting to work, or taking a quiet moment for yourself, Book-Wheel ensures you have a captivating 
	                tale waiting to be explored.
	                </p>
	
	            </div>
	        </section>
	        <br><br><br><br>
	        
	        <section class="about"  style="display: flex;flex-direction: row-reverse;">
	            <div class="about-image">
	                <img src="images/book-library.jpg" alt="image" >
	            </div>
	
	            <div class="about-content">
	                <h2>Why Book-Wheel?</h2>
	                <li>Diverse Collection: From timeless classics to contemporary gems, our vast library caters to every mood, age, and taste.</li>

					<li>User-Focused Design: Seamlessly designed for easy navigation, our app guarantees an immersive reading experience.</li>

					<li>Community Driven: Engage with fellow bibliophiles, share your reviews, and discover hidden gems through recommendations.</li>
	               
					<li>Empowering Writers: Our platform is designed to empower you, offering tools to craft, edit, and present your stories the way you envision.</li>
	            
	            </div>
	        </section>
	        
	        <br><br><br><br>
	        <section class="about" >
	            <div class="about-image">
	                <img src="images/4tg-image.jpg" alt="image" >
	            </div>
	
	            <div class="about-content">
	                <h2>🖋 Your Words, Your World</h2>
	                <p>Have a tale itching to be told? A universe brimming within, waiting to unfold? At 
	                	Book-wheel, we don’t just bring stories to our readers; we invite you to become the 
	                	storyteller.
					</p>
					
					<br>
					<h2>🌍 A Platform for Every Voice</h2>
	                <p>Whether you're a budding writer seeking your first audience, a seasoned author experimenting with 
	                	a new genre, or someone who just wishes to share a story close to their heart, Book-Wheel is your 
	                	canvas.
					</p>
					
	            </div>
	        </section>
	        <br><br><br><br>
	        
	        <section class="about" style="display: flex;flex-direction: row-reverse;">
	            <div class="about-image">
	                <img src="images/join-story.jpg" alt="image" style="margin-left: 50px;">
	            </div>
	
	            <div class="about-content">
	                <h2>🤝 Join Our Story</h2>
	                <p>More than just an app, we are a community. As you turn each page with Book-Wheel, 
	                you become part of our collective journey, rewriting the story of digital reading, one 
	                tale at a time. Dive in, explore, and let's create lasting memories together.
	                </p>
	
	            </div>
	        </section>
	        
	        <p class="text-center" style="font-weight: bold;margin-top: 84px;">Download Book-Wheel today and embark on your next reading adventure!</p>
	        
	    </div>
	</section>
	
	
</body>
</html>