<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>This is Password Change Page</title>
</head>
<body class="sub_page">

       <section class="ftco-section" style="margin-top: -90px;background-color: whitesmoke;">
    
    
    		<div id="login" style="height: 250px;margin-top: 100px;">

                    <div class="container" style="background-color: white">
                        <div id="login-row" class="row justify-content-center align-items-center">
                            <div id="login-column" class="col-md-6">
                        
                                <div id="login-box" class="col-md-12">
                        
                                    
                                    <h3 style="text-align:center;">Enter new Password</h3>
                                    
                                    
                                    <form method="post" th:action="@{/set-newpassword}">

                                        <div class="form-group" >

                                            <input type="password" name="newpassword" class="form-control" placeholder="Enter new password here" required>


                                        </div>

                                        <div class="container text-center" style="margin-bottom: 34px;">

                                            <button class="btn btn-primary">Change Password</button>
                                        </div> 
                                    </form>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
    
    
    
    </section>


    <!-- end login section -->

   </body>

</html>